$minCardWidth: 215px;

.card-size {
  display: flex;
  align-items: center;

  min-height: 215px;
  @media (max-width: 768px) {
    min-height: 100px;
    min-width: 100%;
  }
}

.card-title-text {
  display: flex; 
  text-align: center;
  margin: 0 auto;
}

.menu-icon {
    max-width: 50px;
    max-height: 50px;
}

.page-card-text {
	font-weight: normal;
}

.card-content-centre {
  border: 2px solid yellow;
}