.footerLink {
  padding: 5px;
}

.socialIconLink {
  font-size: 22px;
}

.importantLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separatorCircle {
  font-size: 6px;
  color: rgb(50, 115, 220);
}

.disclaimer {
  font-size: 10px;
}